Link {
    margin-top: 10% !important;
    
}

section{
    margin-top: 60px;
}

.question{
    /*display: block;*/
    margin-top: 60px !important;
    text-align: center !important;
    font-family: 'Noto Sans', sans-serif !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 15px !important;
    /* or 58% */
    
    display: flex !important;
    justify-content: center !important;

    color: #828282 !important;
    
    margin-bottom: 14px !important;
}

.choice{
    font-family: 'Noto Sans', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    /*line-height: 15px;*/
    margin-top: 0px !important;
    margin-left: 0px !important;
    color: #828282 !important;


}

.btnchoice{
    margin-top: 34px !important;
    margin-bottom: 60px !important;
    background: #F4F8F7 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4px !important;
    width: 100% !important;
    height: 10% !important;
}

.btn-done{
    display: flex;
    justify-content: center;
    border-radius: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 20%;
    text-align: center;

    height: 100%;
}


.formSignin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  
  
.formSignin .formControl {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

.formSignin .formControl:focus {
    z-index: 2;
  }

.formSignin input {
    margin-top: 24px;
    background: #F4F8F7;
    border-radius: 4px;
  }


@media screen and (max-width: 576px) {

    .imgfluid {
        width: 100% !important;
        margin-top: 20px !important;
    }
    
    .btnchoice{
        
        width: 100% !important;
        justify-content: center !important;
    }

    
    .question{
        /*display: block;*/
        margin-top: 30px !important;
    }
}
